<header>
    <h1>📚 MyBooks</h1>
    <!-- Hamburger menu -->
    <div class="menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="menu-items">
            <a href="/">Dashboard</a>
            <a href="/addBook">Boek toevoegen</a>
            <a href="/login">Inloggen</a>
            <a href="#">Uitloggen</a>
        </nav>
    </div>
</header>
